* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: beige;
  border-style: solid;
}
nav button {
  padding: 10px;
  border-radius: 10px;
}
h1 {
  font-size: 2rem;
}
main {
  height: 85vh;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.container-1 {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 15%;
}
.search-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 0 10px;
  width: 90%;
  margin-left: 10px;
}
ul {
  list-style: none;
}
.container-2 {
  height: 100%;
  width: 70%;
}
.container-3 {
  height: 100%;
  width: 15%;
}
