* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: beige;
  border-style: solid;
}
nav button {
  padding: 10px;
  border-radius: 10px;
}
h1 {
  font-size: 2rem;
}
main {
  height: 85vh;
  display: flex;
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
